$baseurl: "/team_radiant";
$backgroundColor: #2071a0;
$backgroundImage: url("#{$baseurl}/assets/svg/vol-1.svg");
$bodyColor: #ffffff;
$bodyFont: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

@font-face {
  font-family: "Montserrat";
  src: url("#{$baseurl}/assets/fonts/Montserrat-VariableFont_wght.ttf");
}

* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  color: $bodyColor;
  font-family: Montserrat, $bodyFont;
  font-style: normal;
  line-height: normal;
  padding: 22px 34px;
  height: 100vh;
  background: no-repeat $backgroundImage, $backgroundColor;
  background-position-y: top;
  background-size: cover;
}

.site-container {
  width: 100%;
  height: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 37%;
  height: 100%;
  float: left;
  transition: all 1s ease-in-out;
}

#menu-icon {
  display: none;
  float: left;
}

#close-nav {
  display: none;
}

.menu-line {
  width: 100%;
  height: 20%;
  background-color: #ffffff;
}

.header {
  font-size: 4rem;
  font-weight: 900;
  width: 320px;
  line-height: 0.9;
}

.page-description {
  font-size: 1.25rem;
  font-weight: 200;
  width: 320px;
  height: 52px;
}

#navigation {
  display: flex;
  flex-direction: column;
  width: 365px;
}

.active-page {
  color: rgba(255, 255, 255, 0.50);
}

.content {
  width: 63%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(2px);
  display: inline-flex;
  flex-direction: column;
  clear: left;
  overflow: scroll;
}

.post-container {
  margin: 25px;
  height: fit-content;
  padding-bottom: 25px;
  border-bottom: solid 1px #ffffff;
}

.post-title {
  font-size: 3rem;
}

.post-content {
  font-size: 1.25rem;
}

.post-image {
  float: right;
  width: auto;
  max-height: 300px;
  margin-left: 15px;
}

@media (min-width: 1024px) {
  #navigation {
    display: flex;
  }
}

@media (max-width: 1024px) {
  :root {
    font-size: 14px;
  }

  body {
    padding: 0;
    overflow:hidden;
  }

  #menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45px;
    height: 45px;
    padding: 10px;
    position: absolute;
  }

  #close-nav {
    display: none;
    position: absolute;
    width: 45px;
    height: 45px;
    padding: 20px 10px;
    z-index: 2;
  }

  #close-nav div {
    width: 100%;
    height: 100%;
    background-color:#ffffff;
  }

  .site-container {
    display: flex;
    flex-direction: column;
  }

  .sidebar {
    display: block;
    width: 100%;
    height: fit-content;
    margin-top: 5px;
  }

  .header {
    width: 85vw;
    margin: auto;
    text-align: center;
  }

  .page-description {
    width: 100%;
    text-align: center;
  }

  #navigation {
    display: none;
    padding: 25vh 0;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .content {
    width: 100%;
  }

  .post-image {
    float: none;
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin: 0;
  }
}