<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
</head>

<body>
  <script>
    function openMenu() {
      document.getElementById("navigation").style.display = "flex";
      document.getElementById("close-nav").style.display = "block";
    }

    function closeMenu() {
      document.getElementById("navigation").style.display = "none";
      document.getElementById("close-nav").style.display = "none";
    }
  </script>
  <div id="menu-icon" onclick="openMenu()">
    <div class="menu-line"></div>
    <div class="menu-line"></div>
    <div class="menu-line"></div>
  </div>
  <div id="close-nav" onclick="closeMenu()">
    <div></div>
  </div>
  <div class="site-container">
    <div class="sidebar">
      <div>
        <h1 class="header">TEAM RADIANT</h1>
        <p class="page-description">{{ page.description }}</p>
      </div>
      <nav id="navigation" class="header">
        {%- assign nav = site.pages | sort: "order" -%}
        {%- for path in nav -%}
          {%- assign current = site.pages | where: "url", page.url | first -%}
          {%- if path.title -%}
            <a class="{%- if path.title == current.title -%}active-page{%- endif -%}" href="{{ path.url | relative_url }}">{{ path.title | upcase }}</a>
          {%- endif -%}
        {%- endfor -%}
      </nav>
    </div>
    <section class="content">
      {{ content }}
    </section>
  </div>
  <script>
  const mediaQuery = window.matchMedia('(max-width: 1024px)');
  function disappearHeader(e) {
    var header = document.getElementsByClassName("sidebar")[0];
    var menuIcon = document.getElementById("menu-icon");
    var nav = document.getElementById("navigation");
    var contentWindow = document.getElementsByClassName("content")[0];
    if (e.matches) {
      header.style.height = "fit-content";
      nav.style.display = "none";
      var prevScrollpos = contentWindow.scrollTop;
      contentWindow.onscroll = function () {
        var currentScrollPos = contentWindow.scrollTop;
        if (prevScrollpos > currentScrollPos || currentScrollPos == 0) {
          header.style.height = "100px";
          header.style.opacity = 1;
          menuIcon.style.display = "flex";
        } else {
          header.style.height = "0";
          header.style.opacity = 0;
          menuIcon.style.display = "none";
        }
        prevScrollpos = currentScrollPos;
      }
    } else {
      header.style.height = "100%";
      header.style.opacity = 1;
      nav.style.display = "flex";
      contentWindow.onscroll = null;
    }
  }
  mediaQuery.addListener(disappearHeader);
  disappearHeader(mediaQuery);
</script>
</body>

</html>